<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Deliverable_1_SEG"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Attendee Specific classes   -->
        <activity android:name=".user_actions.AttendeeLoginActivity" />
        <activity android:name=".helpers.AttendeePasswordChange" />
        <activity android:name=".helpers.AttendeeWelcomePage"/>


        <!-- Organizer Specific classes   -->
        <activity android:name=".user_actions.OrganizerLoginActivity"/>
        <activity android:name=".helpers.OrganizerPasswordChange"/>
        <activity android:name=".helpers.OrganizerWelcomePage"/>

        <!-- Admininisttration Specific Classes -->
        <activity android:name=".helpers.AdministratorLoginActivity"/>
        <activity android:name=".helpers.AdministratorWelcomePage"/>
        <activity android:name=".user_actions.AdminRequestsActivity" />



    </application>

</manifest>